[user]
	email = minarandria@gmail.com
	name = Benjamina Randrianasolo
[alias]
	st = status
	pushall = !git remote | xargs -L1 git push --all
	logg = log --oneline --all --decorate --graph
[color]
	branch = auto
[core]
	autocrlf = input
[https]
	proxy = http://192.168.200.5:808/
